pkgbase = nodemanager
	pkgdesc = A Kubernetes controller to manage nodes
	pkgver = 0.1.30
	pkgrel = 1
	url = https://github.com/zachfi/nodemanager
	arch = x86_64
	arch = armv7l
	arch = aarch64
	license = APACHE
	makedepends = git
	makedepends = go
	source = git+https://github.com/zachfi/nodemanager#commit=v0.1.30
	sha256sums = SKIP

pkgname = nodemanager
