---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: managednodes.common.znet
spec:
  group: common.znet
  names:
    kind: ManagedNode
    listKind: ManagedNodeList
    plural: managednodes
    singular: managednode
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: ManagedNode is the Schema for the managednodes API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ManagedNodeSpec defines the desired state of ManagedNode
            properties:
              domain:
                type: string
            type: object
          status:
            description: ManagedNodeStatus defines the observed state of ManagedNode
            properties:
              architecture:
                type: string
              os:
                type: string
              release:
                type: string
              version:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
